<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<style media=print>
.Noprint {
	display: none;
}

.PageNext {
	page-break-after: always;
}
</style>
<%= stylesheet_link_tag "report" %>
<title><%=@company.ccname%>公司--人员花名册</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<OBJECT id=WebBrowser classid=CLSID:8856F961-340A-11D0-A96B-00C04FD705A2 height=0 width=0></OBJECT>
<body leftmargin="0" topmargin="0">
<!--报表工具部分-->
<table width="100%" border="0" cellspacing="1" cellpadding="1" align="center">
	<tr>
		<td width="80%">
		<div align="left" class="Noprint"><span id="DisTag" style="display: none">&nbsp;</span></div>
		</td>
		<td width="40%">
		<div align="right" class="Noprint">
        <input type="button" value="页面设置"  class="mu" onMouseOver="className='mo'" onMouseOut="className='mu'" onClick="document.all.WebBrowser.ExecWB(8,1);">
        <input type="button" value="打印预览"  class="mu" onMouseOver="className='mo'" onMouseOut="className='mu'" onClick="document.all.WebBrowser.ExecWB(7,1);">
        <input type="button" value="打印"  class="mu" onMouseOver="className='mo'" onMouseOut="className='mu'" onClick="document.all.WebBrowser.ExecWB(6,1);">
        <input type="button" value="Excel"  class="mu" onMouseOver="className='mo'" onMouseOut="className='mu'" onClick="AllAreaExcel();">
	    </div>
		</td>
	</tr>
</table>
<table id="RS" border="0" style="width:100%;" align="center" class="borderTable">
<!--报表表头-->
	<caption><font color=blue size=3><b><%=@company.ccname%>公司<font color=blue size=3><b><br>人员花名册</b></font>
	</caption>
	<tr>
				<td width="5%" rowspan="2" height="20" align="center" class="tdStyle" >入职日期</td>
				<td width="10%" rowspan="2" height="20" align="center" class="tdStyle" >所属公司</td>
				<td width="5%" rowspan="2" height="20" align="center" class="tdStyle" >单位二级码</td>
				<td width="8%" rowspan="2" height="20" align="center" class="tdStyle" >劳动和社会</br>保障卡号</td>
				<td width="8" rowspan="2" height="20" align="center" class="tdStyle" >姓名</td>
				<td width="8" rowspan="2" height="20" align="center" class="tdStyle" >性别</td>
				<td width="8%" rowspan="2" height="20" align="center" class="tdStyle" >身份证号码</td>
				<td width="5%" rowspan="2" height="20" align="center" class="tdStyle" >户口性质</td>
				<td width="5%" rowspan="2" height="20" align="center" class="tdStyle" >文化程度</td>
				<td width="5%" rowspan="2" height="20" align="center" class="tdStyle" >岗位</td>
				<td width="5%" rowspan="2" height="20" align="center" class="tdStyle" >劳动合同开始日期</td>
				<td width="5%" rowspan="2" height="20" align="center" class="tdStyle" >劳动合同截止日期</td>
				<td colspan="3" height="20" align="center" class="tdStyle" >社保信息</td>
				<td colspan="2" height="20" align="center" class="tdStyle" >公积金</td>
				<td width="8" rowspan="2" height="20" align="center" class="tdStyle" >备注</td>
				<td width="8" rowspan="2" height="20" align="center" class="tdStyle" >电话</td>
				<td width="8" rowspan="2" height="20" align="center" class="tdStyle" >地址</td>
			</tr>
			<tr>
				<td width="3%" height="20" align="center" class="tdStyle" >参保月</td>
				<td width="3%" height="20" align="center" class="tdStyle" >基数</td>
				<td width="3%" height="20" align="center" class="tdStyle" >缴费</td>
				<td width="3%" height="20" align="center" class="tdStyle" >基数</td>
				<td width="3%" height="20" align="center" class="tdStyle" >缴费</td>
			</tr>
<!--数据部分-->
<%
	@employees.each do |employee|
%>
			<tr>
				<td height="20"  align="left"><%= employee.hire_date%></td>
				<td height="20"  align="left"><%=h @company.ccname%></td>
				<td height="20"  align="left"><%=h @company.ccode%></td>
				<td height="20"  align="left"><%=h employee.insure_card%></td>
				<td height="20"  align="left"><%=h employee.empname%></td>
				<td height="20"  align="left"><%= employee.sex == 1 ? "Man":"Woman"%></td>
				<td height="20"  align="left"><%=h employee.empidn%></td>
				<td height="20"  align="left"><%=h employee.national%></td>
				<td height="20"  align="left"><%=h employee.education%></td>
				<td height="20"  align="left"><%=h employee.job%></td>
				<td height="20"  align="left"><%=h employee.bargain_begin%></td>
				<td height="20"  align="left"><%=h employee.bargain_end%></td>
				<td height="20"  align="left"><%=h Time.parse(employee.bargain_begin).month%></td>
				<td height="20"  align="right"><%=h employee.insure_base%></td>
				<td height="20"  align="left">&nbsp;</td>
				<td height="20"  align="right"><%= employee.provident_base.blank? ? "" : employee.provident_base%></td>
				<td height="20"  align="left">&nbsp;</td>
				<td height="20"  align="left"><%=h employee.remark%></td>
				<td height="20"  align="left"><%=h employee.telphone%></td>
				<td height="20"  align="left"><%=h employee.address%></td>
			</tr>
<%end%>
		</table>
</body>
</html>
