<p id="notice"><%= notice %></p>

<p>
  <b>Insure name:</b>
  <%= @insure_program.insure_name %>
</p>

<p>
  <b>Py code:</b>
  <%= @insure_program.py_code %>
</p>


<%= link_to 'Edit', edit_insure_program_path(@insure_program) %> |
<%= link_to 'Back', insure_programs_path %>
