<h1>Listing insure_results_subs</h1>

<table>
  <tr>
    <th>Main</th>
    <th>Insure type</th>
    <th>Insure base</th>
    <th>Insure money</th>
    <th>Insure item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @insure_results_subs.each do |insure_results_sub| %>
  <tr>
    <td><%= insure_results_sub.main_id %></td>
    <td><%= insure_results_sub.insure_type %></td>
    <td><%= insure_results_sub.insure_base %></td>
    <td><%= insure_results_sub.insure_money %></td>
    <td><%= insure_results_sub.insure_item %></td>
    <td><%= link_to 'Show', insure_results_sub %></td>
    <td><%= link_to 'Edit', edit_insure_results_sub_path(insure_results_sub) %></td>
    <td><%= link_to 'Destroy', insure_results_sub, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Insure results sub', new_insure_results_sub_path %>
