<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<div id="querys-data" style="border:0;"></div>
<div id="data-grid"></div>
<script type="text/javascript" charset="utf-8">
	Ext.onReady(function(){
		
	var formHeight = 120;
		
	var form = new Ext.FormPanel({
		title:'查询',
		width:'100%',
		renderTo:'querys-data',
		height:formHeight ,
//		collapsible :true ,
		labelWidth : 65,
        labelAlign : "right",
	 	bodyStyle: 'padding: 5px',//		bodyStyle:'padding:5px 5px 0',
        defaults: {
            anchor: '0'
        } ,
		keys : [{
			 key: Ext.EventObject.ENTER,fn:search,scope:this
		}] ,
		items: [
			{
				layout:'column',
				border:false,
				items:[ 
					{
						layout:"form",border:false,
					//	defaults:{width:200 , xtype:'textfield'},
						items : [
							{
								columnWidth:.5 , fieldLabel:'公司编码',  name:'ccode' ,width:200,xtype:"textfield"
						 	} 	, 
							{
								columnWidth:.5 , fieldLabel:'代理方式',  name:'c_method',width:200,xtype:"textfield"
							} , {
								columnWidth:.5 , fieldLabel:'组织机构码',  name:'org_code',width:200,xtype:"textfield"
							}
						]
					}
				 ,{		layout:'form',border:false,
						items:[
							{
								columnWidth:.5 , fieldLabel:'公司名称',  name:'ccname' ,width:200,xtype:"textfield"
							}, {
								columnWidth:.5 , fieldLabel:'公司性质',  name:'c_type',width:200,xtype:"textfield"
							} , {
								columnWidth:.5 , fieldLabel:'联系人',  name:'contact',width:200,xtype:"textfield"
							}
						]
				 }]
			}]
	});
	
		var filters = new Ext.ux.grid.GridFilters({
	        // encode and local configuration options defined previously for easier reuse
	        encode: true, // json encode the filter query
	        //local: local,   // defaults to false (remote filtering)
	        filters: [{
	            type: 'string',
	            dataIndex: 'ccode'
	        }, {
	            type: 'numeric',
	            dataIndex: 'ccname',
	            disabled: true
	        }, {
	            type: 'numeric',
	            dataIndex: 'caddress'
	        }, {
	            type: 'date',
	            dataIndex: 'contact'
	        }, {
	            type: 'list',
	            dataIndex: 'size',
	            options: ['small', 'medium', 'large', 'extra large'],
	            phpMode: true
	        }, {
	            type: 'boolean',
	            dataIndex: 'visible'
	        }]
	    });
	
	var addFormPanel = new Ext.form.FormPanel({
		id:'addCompanyFormPanel',
		defaultType:'textfield',
		labelAlign:'right',lableWidth:70,frame:false,
		bodyStyle:'padding:5px 5px 0',
		baseParams: {<%= "#{ request_forgery_protection_token }: '#{ form_authenticity_token }' "%>},
		items:[{
			fieldLabel:'公司编号',name:'company[ccode]' ,allowBlank:false,anchor:'99%',width:50
		},{
			fieldLabel:'公司名称',name:'company[ccname]' , allowBlank:false,anchor:'99%',width:50
		},{
			fieldLabel:'代理方式',name:'company[c_method]',allowBlank:false,anchor:'99%',width:50
		},{
			fieldLabel:'公司性质',name:'company[c_type]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'组织机构码',name:'company[org_code]' , allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'公司地址',name:'company[caddress]', allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'代理方式',name:'company[c_method]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'省份',name:'company[province]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'市',name:'company[city]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'区',name:'company[area]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'社保基数',name:'company[insure_base]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'公积金基数',name:'company[provident_base]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'联系人',name:'company[contact]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'职务',name:'company[job]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'联系电话',name:'company[telphone]',allowBlank:false,anchor:'99%'
		}	,{
			fieldLabel:'手机',name:'company[phone]',allowBlank:false,anchor:'99%'
		}]
	});
	var sm = new Ext.grid.CheckboxSelectionModel();
	var colModel = [
		//ck , 
		new Ext.grid.RowNumberer(),sm,
		{ dataIndex:'id',hidden:true},
		{
			dataIndex: 'ccode',
        	header: '代号',
        	id: 'ccode',
        	filter: {
            	type: 'string'
            // specify disabled to disable the filter menu
            //, disabled: true
        	} , 
			editor : new Ext.form.TextField()
		} , {
			dataIndex:'ccname',
			header:'名称',
			id:'ccname',
			filter:{
				type:"string"
			}	, 
				editor : new Ext.form.TextField()
		} , {
			dataIndex:'caddress',
			header:'地址',
			id:'caddress',
			filter:{
				type:'string'
			}	, 
				editor : new Ext.form.TextField()
		}, {
			dataIndex:'contact',
			header:'联系人',
			id:'contact',
			filter:{
				type:'string'
			}	, 
				editor : new Ext.form.TextField()
		}, {
			dataIndex:'province',
			header:'省',
			id:'province', 
			editor : new Ext.form.TextField()
		},{
			dataIndex:"city",
			header:'城市',
			id:"city", 
			editor : new Ext.form.TextField()
		},{
			dataIndex:'area',
			header:'区域',
			id:'area', 
			editor : new Ext.form.TextField()
		}, {
			dataIndex:'phone',
			header:'电话',
			id:'phone',
			filter:{
				type:'string'
			}	, 
				editor : new Ext.form.TextField()
		} , {
			dataIndex:'telphone',
			header:'手机',
			id:'telphone',
			filter:{
				type:'string'
			}	, 
				editor : new Ext.form.TextField()
		} , {
			dataIndex:'fax',
			header:'传真',
			id:'fax',
			filter:{
				type:'string'
			}	, 
				editor : new Ext.form.TextField()
		} 
	];
	 store = new Ext.data.JsonStore({
	        // store configs
	        autoDestroy: true,
			baseParams: {<%= "#{ request_forgery_protection_token }: '#{ form_authenticity_token }' "%>},
	        url: '/companies/grid.json',
	        remoteSort: false,
	        sortInfo: {
	            field: 'ccode',
	            direction: 'ASC'
	        },
	        storeId: 'myStore',

	        // reader configs
	        idProperty: 'id',
	        root: 'data',
	        totalProperty: 'total',
	        fields: [{
	            name: 'id'
	        }, {
	            name: 'ccode'
	        }, {
	            name: 'ccname'
	        }, {
				name: 'caddress'
			}, {
				name: 'contact'
			},	{
				name: 'job'
			},	{
				name: 'phone'
			},	{
				name: 'telphone'
			}, {
				name: 'fax'
			}, {
				name:'province'
			}, {
				name:'city'
			}, {
				name:'area'
			}, {
				name:'c_method'
			}, {
				name:'org_code'
			}, {
				name:'c_type'
			}, {
				name:'insure_base'
			}, {
				name:'provident_base'
			}]
	    });
	
		var grid = new Ext.grid.GridPanel({ //EditorGridPanel({
	        store: store,
			frame:true,
			title:'公司资料',
			renderTo: 'data-grid',
			width:'auto',
			height:Ext.getCmp('dsp-body').getActiveTab().getInnerHeight()- formHeight,
			monitorResize: true,
			autoScroll:true,
			//clicksToEdit:1 ,
	        colModel: new Ext.grid.ColumnModel({
	            columns: colModel ,
	            defaults: {
	                sortable: true
	            }
	        }),
			sm : sm,
	        loadMask: true,
	        plugins: [filters , new Ext.ux.PanelResizer({
		            minHeight: 100
		        })],
			stripeRows: true,
	       // autoExpandColumn: 'company',
			listeners: {
	            render: {
	                fn: function(){
	                    store.load({
	                        params: {
	                            start: 0,
	                            limit: 20
	                        }
	                    });
	                }
	            }
	        },
	        viewConfig: {  
			                 forceFit: true,  
			                 enableRowBody: true,  
			                 showPreview: true 
			} ,
			bbar: new Ext.PagingToolbar({
	            store: store,
	            pageSize: 20,
				displayInfo: true,
				displayMsg: '显示第 {0} 条到 {1} 条记录，共 {2} 条' ,
				plugins: [new Ext.ux.ProgressBarPager(), filters]
	        })	 ,
				tbar:[
					{ text: '新增' , iconCls:'add-icon'  , handler:function(){
						addCompanyWindow.show();
					}},'-',
					{ text: '删除' , iconCls:'dele-icon' , handler:function(){}}
				]  
	    });
	// edit row-data
	grid.on('rowdblclick' , function(grid,rowIndex,event){
		 edit();
	});
	
	var addCompanyWindow = new Ext.Window({
		layout:'fit',width:400 , height: 470 ,resizable:false,draggable:true,
		closable:true,modal:true, closeAction:'hide',
		title : '<span>新增公司</span>',
		collapsible:true, maximizable:false, buttonAlign:'right',
		border:false,animCollapse:true,
		items:[addFormPanel],
		buttons:[
		{
			text:'保存', iconCls:'save-icon',id:'btn_id_save_update',
			handler:function(){
				save();
			}
		}/** , 
		{
			text:'重置',iconCls:'reset-icon',id:'btn_id_reset',
			handler:function(){
				
			}
		}*/,{
			text:'关闭',iconCls:'close-icon',id:'btn_id_close',
			handler:function(){
				addCompanyWindow.hide();
			}
		}]
	});
	
	function save(){
		if (!addFormPanel.form.isValid()){
			return ;
		}
		addFormPanel.form.submit({
			url:'companies?format=json',
			method:'POST',waitMsg:'正在处理数据,请稍候...',
			success:function(form,action){
				addCompanyWindow.hide();
				store.reload();
				form.reset();
			},
			failure:function(form,action){
				var msg = action.result.msg;
				Ext.MessageBox.alert("提示","");
			}
		});
	}
	
	function edit(){
		var record = grid.getSelectionModel().getSelected();
		if (Ext.isEmpty(record)){
			Ext.MessageBox.alert("提示","请选择要修改的记录!");
			return ;
		}
		//addFormPanel.getForm().loadRecord(record);
		addFormPanel.getForm().load({
			url:'/companies/'+record.get('id')+'/edit?format=json',
			method:'GET'
		});
		addCompanyWindow.show();
	}
	
	function search(){
		var formParams = form.getForm().getValues();
		formParams = Ext.util.JSON.encode(formParams);
		//alert(formParams);
		store.load({
            params:{
				start: 0,
                limit: 20,
				query: [formParams]
            } 
        });
	}
});
</script>