<!DOCTYPE html>
<html>
<head>
  <title><%=t(:application_navigator_title)%></title>
  <%= stylesheet_link_tag    "application" %>
	<%= stylesheet_link_tag "GridFilters","RangeMenu"%>
	<%= javascript_include_tag "ext-base", "ext-all","SelectBox","ComboBoxTree"%>
	<%= javascript_include_tag "RangeMenu","ListMenu","GridFilters","idcard"%>
	<%= javascript_include_tag "filter/Filter","filter/StringFilter","filter/DateFilter","filter/ListFilter","filter/NumericFilter","filter/BooleanFilter"%>
	<%= javascript_include_tag "tags","App"%>
  	<%= javascript_include_tag "application" %>
	<%= javascript_include_tag "ext-lang-zh_CN","ProgressBarPager","PanelResizer"%>
  <%= csrf_meta_tags %>
</head>
<script type="text/javascript" charset="utf-8">
	Ext.onReady(function(){});
	var request_token = '<%= "#{request_forgery_protection_token}"%>';
	var form_token = '<%="#{form_authenticity_token}"%>';
</script>
	<body id="apps" >
		<div id="loading-mask">
		</div>
	 
		<div id="north">
		<table border="0" cellpadding="0" cellspacing="0" width="100%"  
			height="50" id="north-table">
			<tr >
				<td width="30" style="padding:0"><img class="IEPNG"
					src='<%=image_path("24.png")%>' />
				</td>
				<td style="padding-bottom:0;width:30%;">
					欢迎您,<%=session[:user_name]%>
				</td>
				<td style="padding-right:5px">
					<div id="closeDiv"  style="float:right;padding:2px;"></div>
					<div id="configDiv" style="float:right;padding:2px;"></div>
				</td>
			</tr>
			</table>
		</div>
		<div id="classes">
		</div>

		<div id="main">
			<%= yield %>
		</div>
	<div id="dsp.card.0101" style="overflow: auto; height: 100%; width: 100%;"></div>	
	<div id="dsp.card.0201" style="overflow: auto; height: 100%; width: 100%;"></div>	
	<div id="dsp.card.0301" style="overflow: auto; height: 100%; width: 100%;"></div>	
	<div id="dsp.card.0401" style="overflow: auto; height: 100%; width: 100%;"></div>	
	<div id="dsp.card.0501" style="overflow: auto; height: 100%; width: 100%;"></div>	
	<div id="dsp.card.0601" style="overflow: auto; height: 100%; width: 100%;"></div>		
	<DIV id=loading-mask></DIV>
	<DIV id=loading>
	<DIV class=loading-indicator><IMG style="MARGIN-RIGHT: 8px"
		height=32
		src="<%= image_path('ajax1.gif')%>"
		width=36 align=absMiddle>正在初始化,请稍等...</DIV>
	</DIV>			

</body>
</html>
