 <!DOCTYPE html>
<html>
<head>
  <title><%=t(:application_navigator_title)%></title>
  	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "ext-base", "ext-all"%>
	<%= javascript_include_tag "tags","App"%>
	<%= javascript_include_tag "ext-lang-zh_CN"%>
    <%= csrf_meta_tags %>
</head>
<body>
	<%= yield %>
</body>
</html>
